<style>
  html,
  body,
  button,
  input,
  select,
  textarea,
  .greedy-nav,
  .masthead,
  .site-title,
  .author__name,
  .archive__item-title,
  .page__title,
  .page__content,
  .page__content h1,
  .page__content h2,
  .page__content h3,
  .page__content h4,
  .page__content h5,
  .page__content h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  }
</style>
<script defer src="{{ '/assets/js/custom.js?v=5' | relative_url }}"></script>
