<section class="page__comments">
  <h4 class="page__comments-title">Comments</h4>
  <script src="https://giscus.app/client.js"
          data-repo="abarajithan11/abarajithan11.github.io"
          data-repo-id="R_kgDORH_xug"
          data-category="Announcements"
          data-category-id="DIC_kwDORH_xus4C4vWc"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>
